### Exercise 1: Create a function in Python
##### Write a program to create a function that takes two arguments, name and age, and print their value.

In [4]:
def details(name, age):
    print("Name is:", name)
    print("Age is: ", age)

details("Viva", 36)

Name is: Viva
Age is:  36

### Exercise 2: Create a function with variable length of arguments
##### Write a program to create function func1() to accept a variable length of arguments and print their value.

In [9]:
def var_args(*args):
    for i in args:
        print(i)
    print("\n")

var_args(20, 40, 60)
var_args(80, 100)

20
40
60


80
100

### Exercise 3: Return multiple values from a function
##### Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [12]:
def calculation(a, b):
    add = a + b
    sub = a - b

    print(f"Sum of {a} and {b} is {add}, Difference of {a} and {b} is {sub}")

calculation(40, 10)

Sum of 40 and 10 is 50, Difference of 40 and 10 is 30

### Exercise 4: Create a function with a default argument
##### Write a program to create a function show_employee() using the following conditions.

##### __*__ It should accept the employeeâ€™s name and salary and display both.
##### __*__ If the salary is missing in the function call then assign default value 9000 to salary

In [15]:
def show_employee(name, salary = 9000):
    print(f"Name of the employee is {name}, and salary is {salary}")

show_employee("Dave") # this assumes the salary of the employee as provided in the function definition
show_employee("Viva", 20000)

Name of the employee is Dave, and salary is 9000
Name of the employee is Viva, and salary is 20000

### Exercise 5: Create an inner function to calculate the addition in the following way
##### __*__ Create an outer function that will accept two parameters, a and b
##### __*__ Create an inner function inside an outer function that will calculate the addition of a and b
##### __*__ At last, an outer function will add 5 into addition and return it

In [30]:
def outer_func(a, b):

    def inner_func(a, b):
        
        sum = a + b
        return(sum)

    total = inner_func(a, b) + 5
    
    print(total)

outer_func(2, 3)

10

### Exercise 6: Create a recursive function
##### Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

In [35]:
def sum_n(n):
    sum_n = 0
    for i in range(n+1):
        
       sum_n = i + sum_n

    print(sum_n)

sum_n(10)

55

### Exercise 7: Assign a different name to function and call it through the new name

In [38]:
def display_student(name, age):
    print(name, age)

showStudent = display_student

showStudent("Emma", 26)

Emma 26

### Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [43]:
def even_list(a, b):
    list_even = []
    for i in range(a, b+1):
        if i % 2 == 0:
            list_even.append(i)
    print(list_even)

even_list(4, 30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### Exercise 9: Find the largest item from a given list

In [46]:
def find_item(list1):
    big_num = 0
    for i in range(len(list1)):
        if list1[i] > big_num:
            big_num = list1[i]
    print(big_num)

find_item([4, 6, 8, 24, 12, 2])

24