### Exercise 1: Add a list of elements to a set

In [63]:
# Solution 1

sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

for i in sample_list:
    sample_set.add(i)

print(sample_set)

{'Red', 'Green', 'Blue', 'Black', 'Orange', 'Yellow'}

In [64]:
# Solution 2

sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)

print(sample_set)

{'Red', 'Green', 'Blue', 'Black', 'Orange', 'Yellow'}

### Exercise 2: Return a new set of identical items from two sets

In [66]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# set3 = set1.intersection(set2)

# print(set3)

set3 = set1 & set2

print(set3)

{40, 50, 30}

### Exercise 3: Get Only unique items from two sets
##### Write a Python program to return a new set with unique items from both sets by removing duplicates.

In [68]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1.union(set2)

print(set3)

{70, 40, 10, 50, 20, 60, 30}

### Exercise 4: Update the first set with items that donâ€™t exist in the second set

In [70]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)

print(set1)

{10, 30}

### Exercise 5: Remove items from the set at once
##### Write a Python program to remove items 10, 20, 30 from the following set at once.
##### set1 = {10, 20, 30, 40, 50}

In [72]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

### Exercise 6: Return a set of elements present in Set A or B, but not both

In [74]:
# Solution 1
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1.union(set2) - (set1 & set2)

print(set3)

{10, 20, 70, 60}

In [75]:
# Solution 2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

### Exercise 7: Check if two sets have any elements in common. If yes, display the common elements

In [77]:
# Solution 1
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1 & set2:
    print("Two sets have items in common")
    print(set1 & set2)
else:
    print("Two sets have no items in common")

Two sets have items in common
{10}

In [78]:
# Solution 2
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

### Exercise 8: Update set1 by adding items from set2, except common items

In [80]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1.union(set2) - (set1 & set2)

print(set3)

{10, 20, 70, 60}

### Exercise 9: Remove items from set1 that are not common to both set1 and set2

In [82]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}