### Exercise 1: Reverse the tuple

In [93]:
#Solution 1
tuple1 = (10, 20, 30, 40, 50)

rev = []

for i in range(len(tuple1)-1, -1, -1):
    rev.append(tuple1[i])

rev_tuple = tuple(rev)
print(rev_tuple)

(50, 40, 30, 20, 10)

In [94]:
#Solution 2
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

### Exercise 2: Access value 20 from the tuple
##### The given tuple is a nested tuple. write a Python program to print the value 20.

In [96]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

20

### Exercise 3: Create a tuple with single item 50

In [98]:
tuple_s = (50, )

print(tuple_s)

(50,)

### Exercise 4: Unpack the tuple into 4 variables
##### Write a program to unpack the following tuple into four variables and display each variable.

In [100]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### Exercise 5: Swap two tuples in Python

In [102]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print("tuple1:", tuple1)
print("tuple2:", tuple2)

tuple1: (99, 88)
tuple2: (11, 22)

### Exercise 6: Copy specific elements from one tuple to a new tuple
##### Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

In [104]:
tuple1 = (11, 22, 33, 44, 55, 66)

tuple2 = (tuple1[3], tuple1[4])

print("tuple2:", tuple2)

tuple2: (44, 55)

### Exercise 7: Modify the tuple
##### Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

In [106]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

### Exercise 8: Sort a tuple of tuples by 2nd item

In [108]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

### Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [110]:
# Solution 1
tuple1 = (50, 10, 60, 70, 50)
count = 0
for i in range(0, len(tuple1), 1):
    if tuple1[i] == 50:
        count = count + 1

print(count)

2

In [111]:
# Solution 2
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

### Exercise 10: Check if all items in the tuple are the same

In [113]:
tuple1 = (45, 45, 45, 45)

print(all(i == tuple1[0] for i in tuple1))

True