### Exercise 1: Reverse a list in Python

In [3]:
def rev_list(list1):
    new_list = []
    for i in range(len(list1)-1, -1, -1):
        new_list.append(list1[i])

    print(new_list)

rev_list([100, 200, 300, 400, 500, 600])

[600, 500, 400, 300, 200, 100]

### Exercise 2: Concatenate two lists index-wise

In [6]:
def add_list(list1, list2):
    combine_list = []
    if len(list1) != len(list2):
        print("Enter the lists with same length")
    else:
        for i in range(len(list1)):
            combine_list.append(list1[i] + list2[i])

        print(combine_list)

add_list(["M", "na", "i", "Ke"], ["y", "me", "s", "lly"])

['My', 'name', 'is', 'Kelly']

### Exercise 3: Turn every item of a list into its square
##### Given a list of numbers. write a program to turn every item of a list into its square.

In [9]:
def sqr_list(list_num):
    sqrd_list = []
    for i in range(len(list_num)):
        sqrd_list.append(list_num[i] ** 2)

    print(sqrd_list)

sqr_list([1, 2, 3, 4, 5, 6, 7])

[1, 4, 9, 16, 25, 36, 49]

### Exercise 4: Concatenate two lists in the following order

In [12]:
def conc_list(list_1, list_2):
    comb_list = []
    for i in range(len(list_1)):
        for j in range(len(list_2)):
            comb_list.append(list_1[i] + list_2[j])

    print(comb_list)

conc_list(["Hello ", "take ", "Bye "], ["Dear", "Sir"])

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir', 'Bye Dear', 'Bye Sir']

### Exercise 5: Iterate both lists simultaneously

In [15]:
def iterate_list(list_a, list_b):
    if len(list_a) != len(list_b):
        print("Both the lists should be of same length")

    else:
        for i in range(len(list_a)):
            print(list_a[i]," ", list_b[i])

iterate_list([10, 20, 30, 40], [100, 200, 300, 400])

10   100
20   200
30   300
40   400

### Exercise 6: Remove empty strings from the list of strings

In [18]:
# Solution 1
list_test = ["Mike", "", "Emma", "Kelly", "", "Brad"]

list_final = []

for i in range(len(list_test)):
    if list_test[i]:
        list_final.append(list_test[i])

print(list_final)

['Mike', 'Emma', 'Kelly', 'Brad']

In [20]:
# Solution 2
list_test = ["Mike", "", "Emma", "Kelly", "", "Brad"]

list_final = list(filter(None, list_test))

print(list_final)

['Mike', 'Emma', 'Kelly', 'Brad']

### Exercise 7: Add new item to list after a specified item
##### Write a program to add item 7000 after 6000 in the following Python List
##### list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [38]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].insert(2, 7000) # inserts the specified element at the end of the specified list position

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### Exercise 8: Extend nested list by adding the sublist

In [36]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
# list1 = ["a", "b",  ["c", ["d",    "e",    ["f",     "g"],       "k"],     "l"],  "m", "n"]
# index     0    1    [2.0  [2.1.0   2.1.1   [2.1.2.0   2.1.2.1]   2.1.3]     2.2]     3    4

sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list) # exted adds the list of elements at the end of specified position, here it is 2.1.2
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

### Exercise 9: Replace listâ€™s item with new value if found

In [47]:
list1 = [5, 10, 15, 20, 25, 50, 20]

n = list1.index(20) # index gives the first occurance of the given list element
list1[n] = 200

print(list1)

[5, 10, 15, 200, 25, 50, 20]

### Exercise 10: Remove all occurrences of a specific item from a list.

In [54]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# list1.remove(20) - this only removes the first occurance of the provided element
list1 = [i for i in list1 if i != 20] # removes all the 
print(list1)

[5, 15, 25, 50]